<div class="container" *ngIf="manga">
  <div class="row">
    <div class="col">
      <img [src]="manga.imageUrl" />
      <h2>{{ manga.title }}</h2>
      <a class="link-light" [href]="manga.url" target="_blank">Source</a>
    </div>
    
    <div class="col">
      <p>{{ manga.description }}</p>
    </div>

    <div class="col-auto">
      <div class="row">
        <button class="btn btn-primary" type="button" (click)="onSyncMangaClick()">Sync</button>
      </div>
      
      <div class="row">
        <button class="btn btn-primary" type="button" (click)="onMarkAllReadClick(markRead)">
          {{ markRead ? "Mark All Read" : "Mark All Unread" }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" *ngIf="chapters">
  <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 justify-content-evenly">
    <div class="col" *ngFor="let chapter of chapters">
      <div class="card">
        <a class="btn {{ ((chapter.isRead) ? 'btn-outline-secondary' : 'btn-outline-light' ) }}" [href]="chapter.url" target="_blank" (click)="onChapterClick(chapter)">Chapter {{ chapter.slug }}</a>
      </div>
    </div>
  </div>
</div>