<p>add-manga-form works!</p>

<form [formGroup]="addMangaForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="title">
            Title
        </label>
        <input id="title" type="text" placeholder="Manga Title" formControlName="title" />
    </div>

    <div>
        <label for="url">
            URL
        </label>
        <input id="url" type="text" placeholder="https://mangapill.com/" formControlName="url" />
    </div>

    <button class="button" type='submit'>Add Manga</button>

</form>
