<div class="container">
  <h2>Add Manga</h2>

  <form [formGroup]="addMangaForm" (ngSubmit)="onSubmit()">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" id="title" type="text" placeholder="Manga Title" formControlName="title"/>

    <label class="form-label" for="url">URL</label>
    <input class="form-control" id="url" type="text" placeholder="https://mangapill.com/" formControlName="url"/>

    <button class="btn btn-secondary" type='submit'>Add Manga</button>
  </form>
</div>
