<nav class="navbar navbar-expand bg-body-tertiary rounded-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <h2>Manga Watcher</h2>
    </a>
    
    <div class="navbar-nav">
      <button class="btn btn-outline-light" type="button" (click)="onSyncAllClick()">
        <i class="fa-solid fa-arrows-rotate"></i>
        Sync All
      </button>

      <a class="btn btn-outline-light" [routerLink]="['/add-manga']">
        <i class="fa-solid fa-plus"></i>
        Add Manga
      </a>
    </div>
  </div>
</nav>